WITH contractclean AS (
SELECT REPLACE([contractNumber],'-','') AS 'contractNumber'
      ,[modificationNumber]
      ,[vendorName]
      ,[vendorPartNumber]
      ,[vendorDescription]
      ,[countryoforigin]
      ,[solicitationNumber]
      ,[dunsNumber]
      ,[sin]
      ,[sinInference]
      ,[sinsMatch]
      ,[manufacturerName]
      ,[manufacturerPartNumber]
      ,[quantityOfUnit]
      ,[quantityPerUnit]
      ,[unitOfIssue]
      ,[standardizedManufacturerName]
      ,[standardizedManufacturerPartNumber]
      ,[standardizedUnitOfIssue]
      ,[fsc]
      ,[nsn]
      ,[unspsc]
      ,[globalPackagingIdentifier]
      ,[standardizedGlobalPackagingIdentifier]
      ,[productName]
      ,[productType]
      ,[standardizedProductName]
      ,[standardizedProductDescription]
      ,[uniqueItemIdentifier]
      ,[standardizedPackageQuantity]
      ,[hits]
      ,[selfHits]
      ,[abilityOneItem]
      ,[bioPreferred]
      ,[comprehensiveProcurementGuidelineCompliant]
      ,[significantNewAlternativesPolicyApproved]
      ,[federalEnergyManagementProgramEnergyEfficientItem]
      ,[waterSense]
      ,[saferChoice]
      ,[energyStar]
      ,[epeat]
      ,[primeItem]
      ,[epaPrimaryMetalsFree]
      ,[lowVoc]
      ,[ets]
      ,[deliveryFob]
      ,[uniqueItemIdentifierScore]
      ,[finalPrice]
      ,[lowPriceTarget]
      ,[midPriceTarget]
      ,[highPriceTarget]
      ,[catalogMinPrice]
      ,[catalogAvgPrice]
      ,[catalogMedianPrice]
      ,[catalogMaxPrice]
      ,[catalogPriceStandardDeviation]
      ,[transactionMinPrice]
      ,[transactionAvgPrice]
      ,[transactionMedianPrice]
      ,[transactionMaxPrice]
      ,[catalogMinPriceSupplier]
      ,[catalogMedianPriceSupplier]
      ,[catalogMaxPriceSupplier]
      ,[catalogMinPriceDelta]
      ,[catalogAvgPriceDelta]
      ,[catalogMedianPriceDelta]
      ,[commercialCatalogLowPriceTarget]
      ,[commercialCatalogMidPriceTarget]
      ,[commercialCatalogHighPriceTarget]
      ,[commercialCatalogMinPrice]
      ,[commercialCatalogAvgPrice]
      ,[commercialCatalogMedianPrice]
      ,[commercialCatalogMaxPrice]
      ,[commercialCatalogPriceStandardDeviation]
      ,[commercialCatalogMinPriceSupplier]
      ,[commercialCatalogMedianPriceSupplier]
      ,[commercialCatalogMaxPriceSupplier]
      ,[countryOriginInference]
      ,[demandWeightedIndexScore]
      ,[rankCategory]
      ,[salesLikelihood]
      ,[catalogMinPriceSource]
      ,[catalogMedianPriceSource]
      ,[catalogMaxPriceSource]
      ,[TAA_Discrepancy]
      ,[MIA_Discrepancy]
      ,[ETS_Discrepancy]
      ,[Is_Duplicate]
      ,[Portfolio]
      ,[HCA]
      ,[cmf_vendorname]
      ,[cmf_sched_no]
  FROM [PPL].[dbo].[Advantage_XSB_analyzed_2020_10])  --Select latest Advantage Catalog returned from XSB
 SELECT * 
 INTO [PPL].[MOZ].[ADVreduceDECEMBER2020PROD] --Change name
 from contractclean
  WHERE [contractNumber] IN (     --Insert list of contracts that have transactions in TDR data pull
'GS35F531BA',
'GS35F309AA',
'GS35F266GA',
'GS35F250BA',
'GS35F218AA',

)